<div class="page-title border--end">    
  <div class="container page-title__container">
    <h1 class="text--upp text--size_h2-mob text--size_h2-desk page-title__title m-0">{{ heading_title }}</h1>
    
    {% if breadcrumbs %}
    <div class="breadcrumbs text--color_gray page-title__breadcrumbs">
      <div class="breadcrumbs__list flex-row">
        {% for breadcrumb in breadcrumbs %}
          {% if loop.last %}
            <span class="breadcrumbs__item">{{ breadcrumb.text }}</span>
          {% else %}
            <a class="breadcrumbs__item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>