@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@font-face {
    font-family: 'Denistina';
    src: url('fonts/denistina_en.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
