@function rem-calc($px) {
  @return calc(($px / $base-font-size-px) * 1rem);
}



@mixin placeholder {
  &::-webkit-input-placeholder{@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin overflow-dotted {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin push--auto {
  margin: { 
      left: auto;
      right: auto;
  }
}

@mixin push-full {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin push--center-middle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin push--center {
  left: 50%;
  transform: translateX(-50%);
}

@mixin push--middle {
  top: 50%;
  transform: translateY(-50%);
}

@mixin el-hide {
    opacity: 0;
    visibility: hidden;
}

@mixin el-show {
    opacity: 1;
    visibility: visible;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}

@function z($name) {
  @if index($z-indexes, $name) {
      @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  } @else {
      @warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
      @return null;
  }
}

@mixin max-rows($rowsCount, $lh) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: $lh;     /* fallback */
  max-height: calc($lh * $rowsCount);      /* fallback */
  -webkit-line-clamp: $rowsCount; /* number of lines to show */
  -webkit-box-orient: vertical;
}

$z-indexes: (
  "preloader",
  "modal",
  "header",
  "up-content",
  "content",
  "beelow"
);

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
    font-display: swap;

		@if $asset-pipeline == true {
			src: font-url('#{$file-path}.eot');
			src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype');
    } 
		@else {
			src: url('#{$file-path}.eot');
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
  }
}

@mixin df-transition() {
  transition: .3s ease;
}

@mixin square($unit) {
  width: $unit;
  height: $unit;
}

@mixin cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin contain-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin hover {
    @media screen and (hover: hover) {
        &:hover, &:focus {
            @content;
        }
    }
}

// Max Width

@mixin max-S() {
  @media screen and (max-width: 374px) {@content};
}

@mixin max-M() {
  @media screen and (max-width: 639px) {@content};
}

@mixin max-L() {
  @media screen and (max-width: 959px) {@content};
}

@mixin max-LXL() {
  @media screen and (max-width: 1199px) {@content};
}

@mixin max-XL() {
  @media screen and (max-width: 1439px) {@content};
}

@mixin max-XXL() {
  @media screen and (max-width: 1919px) {@content};
}

// Min Width

@mixin min-S() {
  @media screen and (min-width: 320px) {@content};
}

@mixin min-M() {
  @media screen and (min-width: 374px) {@content};
}

@mixin min-L() {
  @media screen and (min-width: 640px) {@content};
}

@mixin min-LXL() {
  @media screen and (min-width: 960px) {@content};
}

@mixin min-XL() {
  @media screen and (min-width: 1200px) {@content};
}

@mixin min-XXL() {
  @media screen and (min-width: 1440px) {@content};
}

// End Breakpoints
