:root {
    --transition-general: 0.3s ease-in-out;

    --color-dark: #1c1c1c;
    --color-red: #c52226;
    --color-white: #fff;
    --color-surface: #ede8e4;
    --color-divider: #e4e1df;
    --color-background: #f5f2f0;
    --color-accent-grey: rgba(40, 40, 40, 0.5);
    --color-half-dark: rgba(28, 28, 28, 0.10);
    ---color-secodnary-text: #9E9C9B;

    --gradient-red: linear-gradient(326.78deg, #c52226 -11.54%, #fb6262 97.01%);
    --gradient-black: linear-gradient(326.78deg, #1c1c1c -11.54%, #4b4b4b 97.01%);

    --font-primary: "Onest", sans-serif;
    --font-secondary: "Denistina", serif;
}
