.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    align-items: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: flex-end;
}

.j-center {
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.d-block {
    display: block;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}