.scroll-image-section{
    padding: rem-calc(128) 0 rem-calc(63);

    &__image{
        width: rem-calc(180);
        height: rem-calc(180);
        position: relative;
        margin: 0 auto;

        .scroll-image-text{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            top: 0;
            left: 0;

            svg{
                width: 100%;
                height: 100%;
            }
        }

        .scroll-image-icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem-calc(41);
            height: rem-calc(41);

            svg{
                width: 100%;
                height: 100%;
                object-fit: contain;
                stroke: none;
            }
        }

    }

}