@use "../utils/mixins";

.text--color {
    &_accent {
        background: var(--gradient-red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // -webkit-text-stroke: .2rem var(--color-background);
        // text-stroke: .2rem var(--color-background);
        text-transform: none;
    }

    &_gray {
        color: var(---color-secodnary-text);
    }

    &_red {
        color: var(--color-red);
    }

    &_white {
        color: var(--color-white);
    }
}
// End by COLOR

.text--ff {
    &_accent {
        font-family: var(--font-secondary);
        letter-spacing: normal;
    }
}
// end by FONT

.text--size {
    &_sm, &_label {
        font-size: 1.2rem;
        line-height: 130%;
        letter-spacing: -0.01em;
    }

    &_accent-h1 {
        font-size: 4rem;
        line-height: inherit;
    }

    &_accent-h2 {
        font-size: 3.2rem;
        line-height: inherit;
        line-height: 128%;
    }

    &_h1-mob {
        font-size: 3.6rem;
        line-height: 116%;
        letter-spacing: -0.05em;
    }

    &_h2-mob {
        font-size: 2.8rem;
        letter-spacing: -.05em;
        line-height: 128%;
    }

    &_h3-mob {
        font-size: 2rem;
        line-height: 120%;
        letter-spacing: -0.02rem;
    }

    &_h3-full {
        font-size: 2.4rem;
        line-height: 132%;
        letter-spacing: normal;
    }
}
// End by size


.text--w {
    &_300 {
        font-weight: 300;
    }
    
    &_500 {
        font-weight: 500;
    }
}
// End by WEIGHT

@include mixins.min-LXL {
    .text--size {
        &_sm {
            font-size: 1.4rem;
            line-height: 140%;
        }
        
        &_accent-h1 {
            font-size: 5.6rem;
        }

        &_accent-h2 { 
            font-size: 4.4rem;
        }

        &_h1-desk {
            font-size: 4.8rem;
            line-height: 116%;
        }

        &_h2-desk {
            font-size: 4rem;
            line-height: 120%;
            letter-spacing: -0.05em;
        }

        &_h3-desk {
            font-size: 2.4rem;
            line-height: 132%;
            letter-spacing: normal;
        }
    }
}

.text--center {
    text-align: center;
}

.text--upp {
    text-transform: uppercase;
}
