@use "utils/fonts";
@use "utils/mixins";
@use "utils/variables";
@use "./utils/reset";

// Modules
@use "./modules/display";
@use "./modules/container";
@use "./modules/btn";
@use "./modules/icon";
@use "./modules/custom-input";
@use "./modules/text";
@use "./modules/bg";
@use "./modules/grid";
@use "./modules/slider";
@use "./modules/border";

// COMPONENTS
@use "./components/logo";
@use "./components/hamburger";
@use "./components/cart-btn";
@use "./components/header-menu";
@use "./components/search-form";
@use "./components/benefit-card";
@use "./components/prof-badge";
@use "./components/section-title";
@use "./components/brand-slide";
@use "./components/product-price";
@use "./components/sale-badge";
@use "./components/product-card";
@use "./components/accordion";
@use "./components/scroll-image";
@use "./components/insta-card";
@use "./components/search-text-item";
@use "./components/cart-item";
@use "./components/backdrop";
@use "./components/modal";
@use "./components/quant-block";
@use "./components/cart-modal";
@use "./components/search-products";
@use "./components/search-history";
@use "./components/live-search";
@use "./components/breadcrumbs";
@use "./components/page-title";
@use "./components/custom-checkbox";
@use "./components/product-gallery";
@use "./components/product-variants";
@use "./components/product-rating";
@use "./components/quote-block";
@use "./components/product-review";
@use "./components/product-reviews";
@use "./components/form-rating";
@use "./components/photo-upload";
@use "./components/review-form";
@use "./components/active-filters";
@use "./components/price-range";
@use "./components/filter-content";
@use "./components/filter";
@use "./components/custom-select";
@use "./components/shop-heading";
@use "./components/pagination";
@use "./components/account-details";
@use "./components/account-empty";
@use "./components/wishlist";
@use "./components/order-item";
@use "./components/orders";
@use "./components/consult-form";
@use "./components/consult-modal";
@use "./components/care-block";
@use "./components/checkout-cart";
@use "./components/coupon-block";
@use "./components/free-delivery";
@use "./components/checkout-totals";
@use "./components/custom-radio";
@use "./components/payment-btns";
@use "./components/checkout-form";
@use "./components/checkout-comment";
@use "./components/order-status";
@use "./components/order-details";

// LAYOUT
@use "./layout/header";
@use "./layout/header-empty";
@use "./layout/footer";
@use "./layout/error";

// SECTIONS
@use "./sections/home-hero";
@use "./sections/product-cats";
@use "./sections/about";
@use "./sections/products-slider";
@use "./sections/faq";
@use "./sections/follow";
@use "./sections/sign-form";
@use "./sections/product-page";
@use "./sections/shop";
@use "./sections/about-shop";
@use "./sections/consult-page";
@use "./sections/delivery-page";
@use "./sections/need-help";
@use "./sections/text-content";
@use "./sections/account";
@use "./sections/consult-results";
@use "./sections/checkout-page";
@use "./sections/thankyou";