<div class="module-menu_items_add">
    <div class="sticky-menu_items_button">
        <button type="button">{{ entry_stycky_title }}</button>
    </div>

    <div class="sticky-menu_items_add">
        <div class="form-group">
            <div class="col-sm-12 text-left sticky-menu_items-title">{{ entry_stycky_title }}</div>
        </div>

        <div class="sticky-menu_items-content">{{ sticky_items }}</div>
    </div>
</div>