@use "../utils/mixins";

.account-empty {
    border-radius: 2.4rem;
    border: .1rem dashed var(--color-half-dark);
    padding: 6rem 1.6rem;

    .icon {
        display: inline-block;
        margin-inline: .6rem;
    }

    &__title {
        margin-block: 0 1.6rem;
        font-size: 1.8rem;
        font-weight: 500;

    }
}
// End iner

@include mixins.min-LXL {
    .account-empty {
        padding: 9rem;
    }
}