@use "../utils/mixins";

.accordion {
    border-block-start: .1rem solid rgba(28, 28, 28, 0.1);

    &__heading {
        padding-block: 2.4rem;
        transition: var(--transition-general);
    }

    &__heading p {
        font-weight: 500;
        margin: 0;
        transition: var(--transition-general);
    }

    &__content {
        transition: var(--transition-general);
        max-height: 0;
        @include mixins.el-hide;

        ul, ul > li {
            list-style-type: disc;
        }

        ol, ol > li {
            list-style-type: decimal;
        }

        ul, ol {
            padding-inline-start: 2em;
        }

        li:not(:last-child) {
            margin-block-end: .4rem;
        }
    }
   

    &__heading {
        gap: 1.6rem;
        cursor: pointer;
    }

    &:last-child {
        border-block-end: .1rem solid rgba(28, 28, 28, 0.1);
    }

    &[aria-expanded="true"] {
        .accordion {
            &__heading {
                padding-block-end: 1.6rem;
            }

            &__icon {
                svg {
                    transform: rotate(180deg);
                    stroke: var(--color-red);
                }
            }

            &__heading p {
                color: var(--color-red);
            }
            &__content {
                @include mixins.el-show;
                max-height: 100rem;
                padding-block-end: 2.4rem;
            }
        }
    }
}
// End inner

@include mixins.min-LXL {
    .accordion {
        &__content {
            max-width: 58.8rem;
        }

        &__heading {
            @include mixins.hover {
                p {
                    color: var(--color-red);
                }

                .accordion {
                    &__icon {
                        svg {
                            stroke: var(--color-red);
                        }
                    }
                }
            }
        }
    }
}
// End LXL