@use "../utils/mixins";

.benefit-card {
    border-radius: 2.4rem;
    padding: 0.8rem;
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);

    &__arrow {
        @include mixins.square(2.4rem);
        border-radius: 50%;

        svg {
            @include mixins.square(1.6rem);
            stroke: var(--color-dark);
        }
    }   

    &__title {
        margin-block: .8rem 0;
    }

    &__icon {
        @include mixins.square(1.6rem);
    }

    &__title span {
        display: block;
    }

    &__title span:last-child {
        margin-block-start: .2rem;
    }
}
// End iinner

@include mixins.min-LXL {
    .benefit-card {
        padding-block-end: 1.6rem;
        &__arrow {
            @include mixins.square(4rem);
        }

        &__title {
            margin-block-start: 2rem;
            margin-inline: .8rem;
        }

        &__title span:last-child {
            margin-block-start: .8rem;
        }

        &__icon {
            margin-inline-end: .8rem;
            @include mixins.square(2.4rem);
        }
    }
}
// End XL