@use "../utils/mixins";

.brand-slide {
    border-radius: 1.6rem;
    padding: 1.2rem;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__link {
        opacity: 0;
    }
}
// End inner

@include mixins.min-LXL {
    .brand-slide {
        padding: 3.2rem;
        border-radius: 2.4rem;
    }
}
// End LXL