@use "../utils/mixins";

.breadcrumbs {
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 0;
        padding: 0;
        margin: 0;
    }
    &__item {
        &:not(:last-child) {
            &::after {
                content: "/";
                margin-inline: .4rem;
                color: var(---color-secodnary-text);
            }
        }

        &:last-child {
            color: var(--color-dark);
        }

        @include mixins.hover {
            color: var(--color-red);
        }
    }

    &__list {
        width: max-content;
        white-space: nowrap;
    }
}
// End inner

@include mixins.min-LXL {
    .breadcrumbs {
        &__list {
            width: auto;
        }
    }
}
