@use "../utils/mixins";

.coupon-block {
    padding-block: 2.4rem;

    &__heading {
        gap: .8rem;
        cursor: pointer;
    }

    &__icon {
        @include mixins.square(1.6rem);

        &::after, &::before {
            @include mixins.pseudo;
            width: 1rem;
            height: 0.1rem;
            background-color: var(--color-red);
            @include mixins.push--center-middle;
            transition: var(--transition-general);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
    
    &.active {
        .coupon-block {
            &__field {
                margin-block-start: 1.6rem;
                display: block;   
            }

            &__icon {
                &::after {
                    transform: translate(-50%, -50%) rotate(0deg);
                }
            }
        }
    }
}
// End inner