.free-delivery {
    &__icon {
        margin-inline-end: .8rem;
        vertical-align: middle;
        display: inline-block;
    }
    
    &__track {
        margin-block-start: .8rem;
        height: 0.4rem;
        border-radius: 5rem;
        background-color: rgba(28, 28, 28, 0.05);
    }

    &__track-inner {
        border-radius: 5rem;
    }

    &__txt {
        margin-block-start: .8rem;
    }
}
// End inner