.hamburger {
    padding: 0.7rem 0.3rem;

    span {
        height: 0.1rem;
        background-color: var(--color-dark);
        border-radius: 0.2rem;
        transition: var(--transition-general);

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 0.1rem;
            background-color: var(--color-dark);
            border-radius: 0.2rem;
            transition: var(--transition-general);
        }

        &::before {
            top: -0.5rem;
        }

        &::after {
            top: 0.5rem;
        }
    }

    &.active span {
        background-color: transparent;

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}
// End inner