@use "../utils/mixins";

.order-item {
    border: .1rem solid var(--color-half-dark);
    padding: 1.6rem;
    border-radius: 2.4rem;

    &__heading {
        cursor: pointer;
        
    }

    &__status {
        &--success {
            color: #00B23B;
        }

        &--error {
            color: var(--color-red);
        }
    }

    &__arrow {
        inset-inline-end: 0;
        inset-block-start: 0;
    }

    &__details {
        gap: 1.2rem;
    }

    &__title {
        flex-basis: calc(100% - 2.4rem);
    }

    &__previews {
        gap: .4rem;
        margin-block-start: 2.1rem;
    }

    &__preview {
        @include mixins.square(5.6rem);
        border-radius: .8rem;
        padding: .8rem;
    }

    
    &__items-list {
        margin-block-start: 2.7rem;
        display: none;
    }

    &__item {
        border-block-start: .1rem solid var(--color-half-dark);
        padding-block-start: 2.4rem;

        &:not(:last-child) {
            padding-block-end: 2.4rem;
        }
    }

    &.active {
        .order-item {
            &__items-list {
                display: flex;
            }

            &__arrow {

                svg {
                    transform: rotate(180deg);
                    stroke: var(--color-red);
                }
            }
        }
    }
}
// End inner

@include mixins.min-XL {
    .order-item {
        padding: 2.4rem;

        &__heading {
            display: grid;
            grid-template-columns: .62fr .38fr;
            padding-inline-end: 4.2rem;
        }

        &__arrow {
            @include mixins.square(2rem);
            inset-block-start: 50%;
            transform: translateY(-50%);
        }

        &__details {
            display: grid;
            flex-grow: 1;
            grid-template-columns: .8fr .2fr;
            gap: .8rem;
        }

        &__price-title {
            display: block;
            margin-block-end: 1em;
        }

        &__price-wr {
            grid-row: 1/3;
            grid-column: 2 / 3;
        }

        &__previews {
            margin: 0;
        }

        &__preview {
            &:nth-child(n+4) {
                display: none;
            }
        }

        &__more-items {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: .1rem solid var(--color-half-dark);
            @include mixins.square(3.2rem);
            margin-inline-start: .4rem;
        }
    }
    // End inner
}
// End XL