@use "../utils/mixins";

.order-details {
    padding: 3.2rem;
    border-radius: 2.4rem;
    gap: 3.2rem;


    &__title {
        margin-block: 0 1rem;
    }

    &__icon {
        border-radius: 50%;
        @include mixins.square(4rem);
        border: .1rem solid var(--color-half-dark);

        svg {
            stroke: none;
        }
    }

    &__delivery {
        gap: .8rem;
    }

    &__address {
        margin-block-start: 1rem;
    }
}
// End inner