@use "../utils/mixins";

.page-title {
    padding-block: 2rem 2.4rem;

    &__breadcrumbs {
        margin-block-start: 1.6rem;
    }
}
// End inner


@include mixins.min-L {
    .page-title {
        padding-block: 3.2rem;
        text-align: center;

        &__breadcrumbs {
            .breadcrumbs {
                &__list {
                    width: auto;
                    justify-content: center;
                }
            }
            margin-block-start: 2.8rem;
        }
    }
}
// End LXL