@use "../utils/mixins";

.pagination {
    gap: .4rem;

    &__btn {
        @include mixins.square(3.2rem);
        border-radius: .8rem;

        &.active {
            pointer-events: none;
            background-color: var(--color-dark);
            color: var(--color-white);
        }
    }
}
// End inner