@use "../utils/mixins";

.prof-badge {
    border-radius: 5rem;
    box-shadow: 0px 16px 32px -4px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
    padding: 1rem 1.6rem;
    gap: .3rem;
    width: max-content;
    line-height: 1;
    
    svg {
        @include mixins.square(1.2rem);
        stroke: var(--color-red);
    }
}
// End inner
