@use "../utils/mixins";

.product-variants {
    gap: 2.4rem;

    &__options {
        gap: .4rem;

        &--color {
            gap: 0 .8rem;
            .product-variants__title {
                flex-basis: 100%;
                margin: 0 0 1.2rem 0;
            }
        }
    }

    &__title {
        margin: 0 1.2rem 0 0;
    }

    &__label {
        padding: .8rem 1.6rem;
        border: .1rem solid var(--color-dark);
        border-radius: .8rem;
        cursor: pointer;
        transition: var(--transition-general);

        input:checked + & {
            background: var(--gradient-red);
            border-color: transparent;
            color: var(--color-white);
        }
    }

    &__color-label {
        border-radius: 50%;
        color: transparent;
        @include mixins.square(3.2rem);
        cursor: pointer;
        position: relative;

        &::before {
            @include mixins.pseudo();
            @include mixins.square(4rem);
            border: .1rem solid rgba(#1C1C1C, 0.1);
            @include mixins.push--center-middle;
            border-radius: 50%;
            transition: var(--transition-general);
        }

        input:checked + & {
            &::before {
                border-color: var(--color-red);
            }
        }
    }

    input {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }
}
// End inner

@include mixins.min-LXL {
    .product-variants {
        &__label {
            @include mixins.hover {
                border-color: var(--color-red);
            }
        }

        &__color-label {
            @include mixins.hover {
                &::before {
                    border-color: var(--color-red);
                }
            }
        }
    }
    // End inner
}
// End LXL