.quote-block {
    padding: 2.4rem;
    border-radius: 2.4rem;
    border-inline-start: .1rem solid var(--color-red);

    &__heading {
        margin-block-end: 1.6rem;
        gap: .4rem;
    }

    &__title {
        gap: .4rem;
    }

    &__price {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 125%;
    }

    &__icon {
        flex-shrink: 0;
        width: 2rem;
        height: 1.7rem;
    }

    &__content {
        gap: 1.6rem;

        p {
            margin: 0;
            max-width: 33rem;
        }
    }

    &__btn {
        margin-block-start: 2.4rem;
    }
}
// End inner