@use "../utils/mixins";

.search-products {

    &__heading {
        padding: 2.4rem 1.6rem;
    }

    &__title {
        margin: 0;
    }

    &__view-all {
        font-weight: 500;
        gap: .8rem;

        svg {
            @include mixins.square(1.6rem);
            stroke: var(--color-red);
        }
    }

    &__products {
        padding: 0 1.6rem 2.4rem;
        gap: 2.4rem;
    }
}
// End inner

@include mixins.min-LXL {
    .search-products {
        &__heading {
            padding: 2.4rem;
        }

        &__products {
            grid-template-columns: repeat(2, 1fr);
            gap: 3.2rem 2.4rem;
        }

        &__view-all {
            @include mixins.hover {
                color: var(--color-red);

                svg {
                    transform: translateX(10%);
                }
            }
        }
    }
}
// End LXL