.section-title {
    &__accent {
        // width: min(30%, auto);
        // min-width: 30%;
        display: inline-block;
        overflow: visible;
        margin-inline-start: -0.8rem;
    }
}
// End inner