@use "../utils/mixins";

.shop-heading {
    padding-block: 2.4rem;

    &__filter-btn {
        gap: .8rem;
        border-radius: .8rem;

        svg {
            @include mixins.square(1.6rem);
        }
    }

    &__reset {
        padding-inline: 1.6rem 1.2rem;
        border-radius: 5rem;
    }

    &__select {
        margin-inline-start: auto;
    }

    &__search-filters {
        width: 100%;
        gap: 1.2rem;
        margin-block-end: 1.6rem;
    }

    &__search {
        flex-grow: 1;
        max-width: 38rem;

        .custom-input__input {
            padding-inline-end: 3.2rem;
        }
    }

    &__search-btn {
        margin-inline-start: -2.4rem;
        border-radius: 0 5rem 5rem 0;
    }
}
// End inner

.shop-heading--type_search {
    gap: 1.2rem;
}

@include mixins.min-L {
    .shop-heading {
        &__search-filters {
            flex-direction: row;
        }
    }
}
// End L

@include mixins.min-LXL {
    .shop-heading {
        padding-block: 3.2rem;
        gap: 3.6rem .8rem;

        &__active-filter, &__reset {
            display: flex;
        }

        &__active-filter {
            flex-basis: 80%;
        }

        &__total {
            display: block;
            flex-basis: 50%;
        }

        &__filter-btn {
            display: none;
        }

        &__search-filters {
            width: auto;
            margin: 0;
        }
    }
    // End inner

    .shop-heading--type_search {
        gap: 2.4rem;
    }
}
// End LXL