@use "../utils/mixins";

.tabs {
    width: 100vw;
    margin-inline: -4.4vw;
    padding-inline: 4.4vw;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    &__cats-inner {
        padding: .4rem;
        border-radius: 1.2rem;
        width: fit-content;
        gap: .2rem;
    }

    &__cat-btn {
        border-radius: .8rem;
        font-size: 1.4rem;
        line-height: 140%;
        // letter-spacing: -0.05em;

        &.active {
            background-color: var(--color-dark);
            color: var(--color-white);
            pointer-events: none;
        }

        @include mixins.hover {
            background-color: var(--color-dark);
            color: var(--color-white);
        }
    }
}
// End inner

@include mixins.min-LXL {
    .tabs {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: visible;

        
        &__cats-inner {
            margin-inline: auto;
        }
    }
}
// End LXL