@use "../utils/mixins";

.about {
    padding-block: 5.6rem;

    &__title {
        margin-block-end: 1.6rem;
    }

    &__bg {
        inset-inline-end: 0;
        inset-block-end: 50%;
        // transform: scaleX(-1);    
        transform: rotate(307deg);
        inset-inline-end: -3.8rem;
        inset-block-end: 17rem;

        svg {
            width: 15rem;
            height: 30rem;
        }
    }

    &__subtitle {
        margin: 0;
    }

    &__txt {
        margin-block: 3.2rem 0;
        font-weight: 300;
        letter-spacing: -0.04em;
        line-height: 110%;
        max-width: 95%;
    }

    &__img-wr {
        align-items: flex-end;
        gap: .8rem;
    }

    &__img {
        img {
            object-fit: contain;
            width: 100%;
            height: auto;
        }
        max-width: 50%;
    }

    &__quote {
        max-width: 30.2rem;
        margin-block-start: 1rem;
    }

    &__content {
        margin-block-start: 2.4rem;
    }

    &__icon {
        margin-block-end: 1.6rem;
    }

    &__btn {
        margin-block-start: 1.6rem;
    }

    &__sign {
        padding-block-end: 1.6rem;
    }
}
// End inner

@include mixins.min-LXL {
    .about {
        padding-block: 7.8rem 6rem;

        &__txt {
            margin-block: 3.4rem 0;

        }

        &__content {
            display: flex;
            justify-content: flex-end;
            margin-block-start: 4.6rem;
            gap: 2.4rem;
        }

        &__quote {
            background-color: var(--color-white);
            padding: 2.4rem;
            border-radius: 2.4rem;
            border-inline-start: .1rem solid var(--color-red);
            width: 28.2rem;
            height: 100%;
            margin-block-start: 2rem;
        }

        &__img-wr {
            flex-direction: row-reverse;
            gap: 3.5rem;
        }

        &__img {
            width: 28.2rem;
            max-width: 100%;
        }

        &__btn {
            width: 100%;
            text-align: center;
            margin-block-start: 3rem;
        }

        &__bg {
            transform: none;
            inset-inline-start: 0;
            inset-inline-end: auto;
            inset-block-end: -2rem;

            svg {
                width: 30rem;
                height: 45rem;
            }
        }
    }
}
// End LXL