@use "../utils/mixins";

.account {
    padding-block: 3.2rem 7.2rem;

    &__nav {
        gap: 1.6rem;
        padding-block-end: 3.2rem;
    }

    &__nav-item {
        gap: 1.2rem;
    }

    &__content {
        padding-block-start: 3.2rem;
    }

    &__subtitle {
        margin-block-end: 2.4rem;
    }

    &__nav-item.active {
        color: var(--color-red);

        svg {
            stroke: var(--color-red);
        }
    }
}
// End inenr

@include mixins.min-LXL {
    .account {
        padding-block: 4.8rem 12rem;
        
        &__subtitle {
            margin-block-end:3.2rem;
        }

        &__container {
            display: grid;
            grid-template-columns: 30.8rem auto;
        }

        &__nav {
            border-block-end: 0;
            border-inline-end: .1rem solid var(--color-half-dark);
            padding-inline-end: 2rem;
        }

        &__content {
            padding: 0 0 0 10.2rem;
        }

        &__nav-item {
            @include mixins.hover {
                color: var(--color-red);

                svg {
                    stroke: var(--color-red);
                }
            }
        }
    }
}
// End LXL