@use "../utils/mixins";

.checkout-page {
    padding-block: 4.8rem 7.2rem;

    &__submit, &__comment {
        width: 100%;
        margin-block-start: 2.4rem;
    }

    &__checkbox {
        margin-block-start: 1.6rem;

        a {
            text-decoration: underline;
        }
    }
    

    &__form {
        margin-block-start: 4.8rem;
    }
}
// End inner

@include mixins.min-LXL {
    .checkout-page {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.4rem;
        }

        &__form {
            margin-block-start: 0;
        }

        &__col {
            &--cart {
                grid-column: 2 / 3;
                grid-row: 1/2;
            }

            &--form {
                grid-column: 1/2;
                grid-row: 1/4;
            }
        }

        &__comment, &__checkbox {
            grid-column: 1/2;
        }

        &__checkbox {
            grid-row: 4/5;
            margin-block-start: 2.4rem;

            a {
                @include mixins.hover {
                    color: var(--color-red);
                }
            }
        }

        &__submit {
            grid-row: 2/3;
            grid-column: 2/3;
        }
    }
}
// End LXL

@include mixins.min-XL {
    .checkout-page {
        &__container {
            grid-template-columns: auto min(48.8rem, 50%);
            column-gap: 12.6rem;
        }
    }
}
// End XL