@use "../utils/mixins";

.consult-results {
    padding-block: 4.8rem 7.2rem;

    &__item {
        padding-block: 2.4rem;

        &:last-child {
            border-block-end: .1rem solid var(--color-half-dark);
        }
    }

    &__subtitle {
        margin-block: .8rem 0;
        line-height: 100%;
    }

    &__heading {
        margin-block-end: 4.8rem;
    }

    &__care-blocks {
        padding-block-start: 7.2rem;
        gap: 1.6rem;
    }
}
// End inner

@include mixins.min-L {
    .consult-results {
        &__care-blocks {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
// End L

@include mixins.min-LXL {
    .consult-results {
        padding-block: 8rem 12.8rem;

        &__subtitle {
            margin-block: 1.6rem 0;
        }

        &__care-blocks {
            padding-block-start: 8rem;
            gap: 2.4rem;
        }
    }
}
// End LXL