@use "../utils/mixins";

.delivery-page {
    padding-block: 3.2rem 7.2rem;

    &__container {
        gap: 4.8rem;
    }

    &__block {
        &:not(:last-child) {
            margin-block-end: 4.8rem;
        }
    }

    &__block-title {
        margin-block: 0 2.4rem;
    }

    &__txt-block ul {
        padding-inline-start: 1.5em;

        &, & > li {
            list-style-type: disc;
        }

        li {
            &:not(:last-child) {
                margin-block: 0 .8rem;
            }
        }
    } 


    ul.delivery-page__styled-list {
        padding-inline-start: 0;
        list-style-type: none;

        li {
            gap: 1.6rem;

            &:not(:last-child) {
                margin-block: 0 1.6rem;
            }
        }
    }

    &__txt-block p {
        &:not(:last-child) {
            margin-block: 0 1.2rem;
        }
    }


    &__icon {
        flex-shrink: 0;
        border-radius: 50%;
        @include mixins.square(4rem);
        border: .1rem solid var(--color-half-dark);

        svg {
            stroke: none;
        }
    }
}
// End inner

@include mixins.min-LXL {
    .delivery-page {
        padding-block: 4.8rem 13.2rem;

        &__container {
            gap: 0;
            grid-template-columns: repeat(2, 1fr);
        }

        &__col {
            &:first-child {
                padding-inline-end: 11.4rem;
                border-inline-end: .1rem solid var(--color-half-dark);
            }

            &:last-child {
                padding-inline-start: 11.4rem;
            }
        }
    }
}
// End LXL