@use "../utils/mixins";

.product-cats {
    overflow-x: hidden;
    padding-block: 3.6rem 5.6rem;

    &__track {
        overflow: visible;
    }

    &__title {
        margin-block-end: 2.4rem;
    }

    &__slider {
        margin-block-start: 2.4rem;
        max-width: 96%;
    }

    &__arrows {
        margin-block-start: 2.4rem;
    }

    .slider.splide.is-initialized:not(.is-active) &__product-slide {
        flex-basis: 25%;
    }
}
// End inner

@include mixins.min-LXL {
    .product-cats {
        padding-block: 12.8rem;

        &__title {
            text-align: center;
        }

        &__slider {
            margin-block-start: 4.8rem;
            max-width: 100%;
        }

        &__track {
            overflow: hidden;
        }

        &__arrows {
            justify-content: center;
        }
    }
}
// End LXL