@use "../utils/mixins";

.product-cats {
    overflow-x: hidden;
    padding-block: 3.6rem 5.6rem;

    &__cats-wr {
        width: 100vw;
        margin-inline: -4.4vw;
        padding-inline: 4.4vw;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }
    }

    &__cats-inner {
        padding: .4rem;
        border-radius: 1.2rem;
        width: fit-content;
        gap: .2rem;
    }

    &__track {
        overflow: visible;
    }

    &__cat-btn {
        border-radius: .8rem;
        font-size: 1.4rem;
        line-height: 140%;
        // letter-spacing: -0.05em;

        &.active {
            background-color: var(--color-dark);
            color: var(--color-white);
        }

        @include mixins.hover {
            background-color: var(--color-dark);
            color: var(--color-white);
        }
    }

    &__title {
        margin-block-end: 2.4rem;
    }

    &__slider {
        margin-block-start: 2.4rem;
        max-width: 96%;
    }

    &__arrows {
        margin-block-start: 2.4rem;
    }

    .slider.splide.is-initialized:not(.is-active) &__product-slide {
        flex-basis: 25%;
    }
}
// End inner

@include mixins.min-LXL {
    .product-cats {
        padding-block: 12.8rem;

        &__title {
            text-align: center;
        }

        &__cats-wr {
            width: 100%;
            padding: 0;
            margin: 0;
            overflow-x: visible;
        }

        &__cats-inner {
            margin-inline: auto;
        }

        &__slider {
            margin-block-start: 4.8rem;
            max-width: 100%;
        }

        &__track {
            overflow: hidden;
        }

        &__arrows {
            justify-content: center;
        }
    }
}
// End LXL