@use "../utils/mixins";

.sign-form {
    padding-block: 3.2rem 7.2rem;

    &__title {
        margin-block-end: 2.4rem;
    }

    &__form, &__txt {
        width: min(100%, 37rem);
    }

    &__fields {
        gap: 1.2rem;
    }

    &__footer {
        margin-block-start: 1.6rem;
    }

    &__submit {
        margin-block-start: 2.4rem;
        width: 100%;
    }

    &__bottom-link {
        display: block;
        font-weight: 500;
        margin-block-start: 2.4rem;

        @include mixins.hover {
            opacity: .5;
        }
    }

    &__page-link {
        @include mixins.hover {
            color: var(--color-red);
        }
    }

    &__txt {
        margin-block-end: 1.6rem;
        p {
            margin: 0;

            &:not(:last-child) {
                margin-block-end: 1em;
            }
        }
    }

    &__icon {
        margin-block-end: 1.6rem;
        @include mixins.square(4rem);
    }

    &__alert {
        width: 100%;
    }

    &__choices {
        gap: .8rem 1.2rem;
    }
}
// End inner

@include mixins.min-LXL {
    .sign-form {
        padding-block: 4.8rem 12.8rem;
        
    }
}