@use "../modules/text";
@use "../utils/mixins";

.text-content {
    padding-block: 4.8rem 7.2rem;

    &__container {
        h1 {
            text-transform: uppercase;
            margin-block: 0 1.6rem;
            @extend .text--size_h2-mob;
            @extend .text--size_h2-desk;
        }

        h2 {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 132%;
            margin-block: 1em;
        }

        ul, ul > li {
            list-style-type: disc;
        }

        ol, ol > li {
            list-style-type: decimal;
        }

        ul, ol {
            padding-inline-start: 1.5em;
        }

        li:not(:last-child) {
            margin-block: 0 0.8rem;
        }

        p:not(:first-child) {
            margin-block: 1.4em;
        }

        p:first-child {
            margin-block: 0 1.2rem;
        }
    }

    &__block {

        &:not(:last-child) {
            margin-block-end: 4.8rem;
        }
    }
}
// End inner

@include mixins.min-LXL {
    .text-content {
        padding-block: 8rem 12.8rem;

        &__container {
            max-width: 79.2rem;
            font-size: 1.8rem;
            line-height: 132%;

            h2 {
                font-size: 2.8rem;
                line-height: 130%;
                font-weight: 400;
                margin-block: .8em;
            }

            p:not(:first-child) {
                margin-block:.8em;
            }
        }

        &__block {
            &:first-child {
                margin-block-end: 8rem;
            }
        }
    }
}
// End LXL