@use "../utils/mixins";

.thankyou {
    &__page-title {
        padding-block: 3.2rem;
    }

    &__check-icon {
        @include mixins.square(4.8rem);
        border-radius: 50%;
        padding: 1.2rem;

        svg {
            stroke: var(--color-red);
        }
    }

    &__title {
        margin-block: 1.6rem 0;
    }

    &__order-title {
        margin-block: .8rem 0;
        font-size: inherit;

        a {
            text-decoration: underline;
        }
    }

    &__content {
        padding-block: 2rem 6.8rem;
    }

    &__order {
        margin-block-start: 3.2rem;
    }

    &__order, &__status {
        max-width: 58.8rem;
    }

    &__btn {
        width: 100%;
        gap: .6rem;
        margin-block-start: 3.2rem;

        svg {
            stroke: var(--color-white);
        }
    }
}
// End inner

@include mixins.min-L {
    .thankyou {
        &__btn {
            width: max-content;
            margin-inline: auto;
        }
    }
    // End inenr
}
// End L

@include mixins.min-LXL {
    .thankyou {
        &__title {
            margin-block: 2.4rem 0;
            text-transform: uppercase;
        }

        &__order-title {
            margin-block: 1.6rem 0;
            font-size: 1.6rem;

            a {
                @include mixins.hover {
                    color: var(--color-red);
                }
            }
        }

        &__content {
            padding-block: 3.6rem 12.4rem;
        }
    }
}
// End LXL